fastapi==0.115.4
starlette==0.41.2
python-multipart==0.0.19
requests
httpx==0.28.1
pydantic[email]
uvicorn[standard]
motor==3.7.0 
beanie==1.29.0 
dnspython==2.2.0
aiohttp==3.9.3
beautifulsoup4==4.12.3



