fastapi==0.115.4
starlette==0.41.2
python-multipart==0.0.19
requests
httpx==0.28.1
pydantic[email]
uvicorn[standard]
motor==3.7.0 
beanie==1.29.0 
httpx-toolkit==1.1.3
subfinder==2.6.0
assetfinder==0.1.1
findomain==9.0.4


